version: '3.9'
services:
  test-my_app_mongodb:
    image: mongo:5.0.6
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: fullstack_event_list_app_mongo_db

volumes:
  my_app_mongodb: