version: '3.9'
services:
  web:
    build: .
    ports:
      - "8080:5000"
    environment:
      REST_API_PORT: 5000
      MONGO_HOST: my_app_mongodb
  my_app_mongodb:
    image: mongo:5.0.6
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: fullstack_event_list_app_mongo_db